<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Weather App</title>
    <link href="{{ url_for('static',filename = 'css/style.css')}}" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" sizes="48x48" href="{{ url_for('static', filename='img/rehan_fav.ico')}}">
</head>

<body background="{{ url_for('static',filename ='img/cloude.jpg')}}">
    <div class="main">
        <div class="register">
            <h2>City : Kolkata</h2>
            <h3>TIME : 04.10 PM</h3>

            <form id="register" action="/" method="post">
                <label style="margin-left:4px">Enter Location</label><br>
                <input style="margin-top:10px" type="text" id="city" name="city" placeholder="eg.Kolkata" required>
                <br>
                <br>
                <input type="submit" value="Check" name="submit" id="submit">
            </form>
                <label>Weather      : Sunny</label><br>
                <label>Temparature  : 30°C</label><br>
                <label>Humidity     : 16 %</label><br>
                <label>Wind         : 6.0 kmph</label><br>
                <label>Zone         : IST</label><br>
                <br>
                <br>
        </div>
    </div>
</body>
</html>
